.ServiceOptions {
    background: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

.options-row-one {
    padding-top: 30px;
}

.options-row-two {
    margin-top: 30px;
    padding-bottom: 30px;
}

.options {
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.options p {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    font-size: 16pt;
    font-weight: bolder;
}

.options:hover {
    color: #CCA353;
}

.option-food {
    background-image: url('../../img/food.jpg');
}

.option-shopping {
    background-image: url('../../img/shopping.jpg');
}

.option-auto {
    background-image: url('../../img/auto.jpg');
}

.option-home {
    background-image: url('../../img/home.jpg');
}

@media(max-width: 990px) {
    .options {
        height: 220px;
    }

    .options p {
        font-size: 12pt;
    }
}